<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Der Reactquellenfinder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='generic.css') }}"/>
    <style>
        pre {
            user-select: all;
            -moz-user-select: all;
            -webkit-user-select: all;
            overflow-x: scroll;
            display: inline-block;
            max-width: 650px;
        }

        blockquote {
            font-style: normal;
            user-select: all;
            -moz-user-select: all;
            -webkit-user-select: all;
        }

    </style>
</head>
<body>
<div id="top" class="page" role="document">
    <main role="main">
        <section id="forms">
            <h1>Der Quellenangabenfinder</h1>
            <form>
                <fieldset id="forms__input">
                    <legend>Ausprobieren?</legend>
                    <p>
                        <label for="videoURL">Link</label>
                        <input id="videoURL" name="videoURL" type="text" size="70"
                               placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ"/>
                        <input type="submit" value="Abfragen"/>
                    </p>
                    <p>Kurz und bündig:</p>
                    <blockquote id="copyright-example"></blockquote>
                    <p>Wie es aus der API rauskommt:</p>
                    <pre id="videoData"></pre>
                </fieldset>
            </form>
        </section>
        <section>
            <header>
                <h2>Was ist das hier?</h2>
            </header>
            <p>
                Manche Leute streamen auf Twitch. Und manche zeigen dabei Videos und diskutieren die dann live.<br/>
                Rechtlich ist das ein Zitat. Und ein Zitat braucht eine Quellenangabe. Und Quellen für Online-Videos
                gibt man in der Regel mit Urheber*in, Jahr und dem Link als Fundstelle an.
            </p>
            <p>
                Freilich kann man das alles irgendwie jedes Mal von Hand machen. Das ist nur manchmal bisschen
                unhandlich. Dieses Tool hier versteht aktuell Links zu YouTube, Vimeo, media.ccc.de und die Mediatheken
                von ARD und ZDF sowie zu Twitch und besorgt dann die entsprechenden Meta-Daten für die Quellenangabe
                maschinenlesbar in
                JSON.
            </p>
            <p>
                Diese Seite hier ist nur ein Beispiel, um das mal zu testen. Der wahre Spaß beginnt, wenn man die JSON
                selbst automatisiert zum Beispiel mit streamer.bot abfragt und den die Daten direkt ins Stream-Overlay
                und in den Chat schreiben lässt. Die magische URL dafür ist: <code>https://videoinfo.elixirrlicht.dev/?link=[videolink]</code>.
                Das kann dann gescriptet mit curl ungefähr so aussehen:
            </p>
            <ul>
                <li><code>curl
                    "https://videoinfo.elixirrlicht.dev/?link=https://media.ccc.de/v/38c3-what-s-inside-my-train-ticket"</code>
                </li>
                <li><code>curl
                    "https://videoinfo.exlirrlicht.dev/?link=https://www.ardmediathek.de/video/Y3JpZDovL3dkci5kZS9CZWl0cmFnLXNvcGhvcmEtOGJhOWQzMzgtNGIwZC00YWFlLTgxMGMtODhhNzc4NmY4YzRk"</code>
                </li>
            </ul>
            <p>
                Wer das nicht erst nachverarbeiten möchte, sondern einfach direkt eine Ausgabe zum pinnen in den Chat
                oder so haben möchte: ich hab da noch was. <code>https://videoinfo.elixirrlicht.dev/compact?link=https://youtu.be/y6120QOlsfU</code>.
                Der Trick damit? Das kann man zum Beispiel direkt in ein urlfetch-command bei nightbot geben:
                <code>$(urlfetch https://videoinfo.elixirrlicht.dev/compact?link=https://youtu.be/y6120QOlsfU)</code>
                und schwupps hatman alles kompakt zum Pinnen im Chat.
            </p>
            <p>
                Die Auswertung erfolgt serverseitig. Eingeschickte Links werden nur zum Ermitteln der Meta-Daten
                genutzt.
                Eine weitere Speicherung oder anderweitige Verarbeitung erfolgt nicht. Sollte es auf der Serverseite zu
                Fehlern kommen, werden Informationen darüber an Sentry übermittelt. Die so übermittelten Daten werden
                ausschließlich zur Fehlerbehebung genutzt und nicht länger als dafür notwendig gespeichert.
            </p>
        </section>
    </main>
    <footer>
        Ein <a href="https://elixirrlicht.dev">Elixirrlicht.Dev</a> Projekt.
    </footer>
</div>
<script>
    const formElem = document.querySelector("form");

    addEventListener("DOMContentLoaded", (event) => {
        fd = new FormData(formElem);
        updateResults(fd);
    });

    formElem.addEventListener("change", (e) => {
        fd = new FormData(formElem);
        updateResults(fd);
    });

    formElem.addEventListener("submit", (e) => {
        e.preventDefault();
        fd = new FormData(formElem);
        updateResults(fd);
    });

    formElem.addEventListener("paste", (e, target) => {
        target.value = e.clipboardData.getData('text/plain');
        fd = new FormData(formElem);
        updateResults(fd);
    });

    async function updateResults(data) {
        let videoData = document.getElementById("videoData");
        let example = document.getElementById("copyright-example");

        const result = await fetch(document.location.href + "?link=" + data.get("videoURL"));
        let json_result = await result.json();
        console.log(json_result);
        videoData.innerText = JSON.stringify(json_result, null, 2);
        example.innerText = " © " + json_result.year + " | " + json_result.channel + " | " + json_result.url;
    }
</script>
</body>
</html>
